
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(2px);
    width: 420px;
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid white;
    
}
.container h1{
    align-items: center;
    font-size: 3rem;
    text-align: center;
}
.user-container{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.user-container input{
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    padding: 10px;
    min-width: 90%; 
    border: 2px solid white;
    border-radius: 10px;
}
.user-container input::placeholder{
    color: white;
}
.icon-user{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(50%);
    font-size: 1.5rem;
    color: white;
}

.password-container{
    position: relative;
    display:flex;
    justify-content: center;
    padding-top: 20px;
}
.password-container input{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    min-width: 90%;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
}
.password-container input::placeholder{
    color: white
}
.icon-pass{
    color:white;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 1.5rem;
    transform: translateY(-10%);
}

.remeber-forgot-container{
    padding: 20px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.remeber-forgot-container a{
    text-decoration: none;
    color: white;
}
.container button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 2px hsl(0, 1%, 36%);
    font-weight: bold;
    transition: font-size 1.5s ease;
}
.container button:hover{
    font-size: 1.1rem;
}

.register-container{
    text-align: center;
    padding-top: 30px;
}
.register-container p a{
    text-decoration: none;
    color: white;
}
